* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex; /* Flex container */
}
  
li {
    flex: 1; /* Gelijkmatig verdeelde ruimte voor elk item */
}

li a {
    display: flex; /* Flex container voor de anker-elementen */
    justify-content: center; /* Centreer de inhoud horizontaal */
    align-items: center; /* Centreer de inhoud verticaal */
    color: white;
    text-decoration: none;
    padding: 10px 14px; /* Aangepaste padding */
}

/* Verander de achtergrondkleur naar #111 (zwart) bij hover */
li a:hover {
    background-color: #111;
}

  





/*
dropdown nav

<style>
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>

<div class="dropdown">
  <span>Mouse over me</span>
  <div class="dropdown-content">
    <p>Hello World!</p>
  </div>
</div>
/*